<% provide(:about_active, 'active') %>

<html>
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
    </style>
    <body>
        <h1>About This Application</h1>
        <p>This is a project created by Trung Nguyen for CS3300 - Intro to Software Engineering with Doug Miller.</p>
        <div>
            <span>The purpose of this project was to create a working application using Ruby on Rails and Heroku. 
            For this project we learned not only the basic of creating the application but we also learned how 
            to deploy and test out applciations and keep it from failing. What we learned to do was create 
            reliable working software in this course.</span>
        </div>
    </body>
</html>