<% provide(:contact_active, 'active') %>

<html>
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
    </style>
    <body>
        <h1>Trung Nguyen</h1>
        <p>Email: tnguyen5@uccs.edu</p>
        <p><a>Link to Github Repo: </a>
            <a href="https://github.com/trung8394/cs3300">https://github.com/trung8394/cs3300</a>
        </p>
    </body>
</html>