<tr>
    <th><%= link_to project.title, project %></th>
    <td><%= truncate(project.description, length: 100) %></td>
    <td><%= link_to 'Edit', edit_authors_project_path(project), class: 'btn btn-sm btn-warning' %></td>
    <td><%= link_to 'Remove', authors_projects_path(project), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger' %></td>
</tr>