<% provide(:page_title,  "Edit #{@project.title}") %>
<% provide(:author, 'active') %>

<h1>Editing Project</h1>

<%= render 'form', project: @project, url: authors_project_url(@project) %>
<p></p>
<%= link_to 'Show', @project, class: 'btn btn-primary btn-sm' %> |
<%= link_to 'Back', authors_projects_path, class: 'btn btn-primary btn-sm' %>
