<% provide(:page_title,  "Edit #{@project.title}") %>
<% provide(:author, 'active') %>

<h1>Editing Project</h1>

<%= render 'form', project: @project, url: authors_project_url(@project) %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', authors_projects_path %>
