<% provide(:page_title, 'All Posts') %>
<% provide(:author, 'active') %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div>
    <%= link_to 'New Project', new_authors_project_path, class: 'btn btn-primary btn-lg' %>
    <p></p>
  </div>
  <br>
  <table class="table table-striped">
    <table style="width: 100%">
    <colgroup>
    <col span="1" style="width: 20%;">
    <col span="1" style="width: 60%;">
    <col span="1" style="width: 20%;">
    </colgroup>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Modify Project</th>
    </tr>
  </table>
  <%= render @project %>
</div>
