<% provide(:page_title, 'New Project') %>
<% provide(:author, 'active') %>

<h1>New Project</h1>

<%= render 'form', project: @project, url: authors_projects_url %>

<%= link_to 'Back', authors_projects_path %>
