<div class='col-sm-12 col-lg-6'>
    <div class="card">
        <div class="card-topper" style='backgroud-image: url();'></div>
        <div class="card-block">
            <h4 class="card-title"><%= link_to project.title, project %></h4>
            <p class="published-date">Published: April 25, 2021</p>
            <p class="card-text"><%= truncate(project.description, length: 130) %></p>
            <%= link_to 'Read', project, class: 'btn btn-read' %>
        </div>
    </div>
</div>