.navbar {
    border-radius: 0;
    margin-bottom: 20px;
    background-color: black;
    $primary-color: white;
    $primary-color-text: lightgray;
    $primary-color-light: white;
    $accent-color: white;
    .navbar-brand {
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;

        font-weight: bolder;
        color: $accent-color;
        .light {
            font-weight: 300;
            color: $primary-color-text;
        }
    }
    .navbar-toggler {
        outline: none;
    }
    .nav-link {
        display: block;
        padding: .5rem 1rem;
      color: $primary-color-light !important;
      &.active {
        color: $primary-color-text !important;
      }
    }
    .nav-item.author-nav {
      img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid $primary-color-light;
      }
    }
}

.collapse-bg {
    padding: 0 !important;
    .card {
        margin-bottom: 0;
        border-radius: 0;
        border: none;
    }
}


.collapse-bg .card .list-group-item {
    padding: 0;
    border-radius: 0 !important;
    border-color: black;
    a {
        background-color: #1a1a1a;
        color: #bdc3c7;
        width: 100%;
        height: 100%;
        padding: 10px;
        &:active {
            color: white;
            border-bottom: none;
        }
    }
}